<div class="">
  <form name="loginForm">
    <table>
      <tr>
        <td><label>Username: </label></td>
        <td><input type="text" ng-model="user.username" ng-required="true" ></td>
      </tr>
      <tr>
        <td><label>Password: </label></td>
        <td><input type="password" ng-model="user.password" ng-required="true" ></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="button" value="Log In"
          ng-click="login(user)" ng-disabled="loginForm.$invalid">
        </td>
      </tr>
    </table>
  </form>
  <a href="#/register">Register</a>
  <br>
  <p>{{ message }}</p>
</div>
