<div class="">
  <form name="registerForm">
  <table>
      <tr>
        <td><label>Name: </label></td>
        <td><input type="text" ng-model="user.name" ng-required="true" /><br></td>
      </tr>
      <tr>
        <td><label>Username: </label></td>
        <td><input type="text" ng-model="user.username" ng-required="true" /><br></td>
      </tr>
      <tr>
        <td><label>Password: </lavel></td>
        <td><input type="password" ng-model="user.password" ng-required="true" /><br></td>
      </tr>
      <tr>
        <td><label>Confirm Password: <label></td>
        <td><input type="password" ng-model="user.confirmPassword" ng-required="true" /><br></td>
      </tr>
      <tr>
        <td><label>Email Id: </label></td>
        <td><input type="email" ng-model="user.emailId" ng-required="true" /><br></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="button" ng-click="register(user)" value="Register"
          ng-disabled="registerForm.$invalid || user.password != user.confirmPassword" /></td>
      </tr>
  </table>
  </form>
  <br>
  <p style="color: red;"
    ng-bind="user.password == user.confirmPassword ? '' : 'Passwords does\'nt match'"></p>
</div>
