<!DOCTYPE html>
<link rel="icon" type="image/png" href="../../img/hvufavicon.png">
<html ng-app="studentApp">
<header>
    <title>Assignments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular-route.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>
    <script src="https://angular-ui.github.io/ui-ace/dist/ui-ace.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
    <div ace>
        <script src="https://rawgithub.com/ajaxorg/ace-builds/v1.1.1/src-min-noconflict/ace.js"></script>
        <script src="https://rawgithub.com/angular-ui/ui-ace/bower/ui-ace.min.js"></script>
    </div>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</header>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="../../img/hvu.png" style="width:160px;height:33px;border:0" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <!--<a href="#"><span class="sr-only">(current)</span></a>--></li>
                    <li><a href="#">Link  </a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <button type="button" class="btn btn-default navbar-btn">Sign out</button>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <p class="navbar-text">
                                <!--Signed in as Mark Otto-->
                                <!--                             </p><span class="caret"></span></a> -->
                                <!--                         <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul> -->
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="row content" ng-controller="sideController">
        <div class="col-xs-3 col-md-3">
            <ul class="sideNav nav nav-pills nav-stacked">
                <a class="btn btn-default btnSidebar" href="#/"><h4>MATLAB</h4></a>
                <a class="btn btn-default btnSidebar" href="#/">Announcements</a>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle btnSidebar" type="button" data-toggle="dropdown">Assignments
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Due</li>
                        <li><a href="#/Chapter10" ng-click="go('chapter10')">Chapter 10</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Previous</li>
                        <li><a href="#/chapter2" ng-click="go('chapter2')">Chapter 2</a></li>
                        <li><a href="#/chapter3" ng-click="go('chapter3')">Chapter 3</a></li>
                        <li class="dropdown-submenu">
                            <a class="test" tabindex="-1" href="#">Chapter 5 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#/chapter5s1" ng-click="go('chapter5')">Chapter 5.1</a></li>
                                <li><a tabindex="-1" href="#/chapter5s2" ng-click="go('chapter5')">Chapter 5.2</a></li>
                                <li><a tabindex="-1" href="#/chapter5s3" ng-click="go('chapter5')">Chapter 5.3</a></li>
                                <li><a tabindex="-1" href="#/chapter5s4" ng-click="go('chapter5')">Chapter 5.4</a></li>
                                <li><a tabindex="-1" href="#/chapter5s5" ng-click="go('chapter5')">Chapter 5.5</a></li>
                                <li><a tabindex="-1" href="#/chapter5s6" ng-click="go('chapter5')">Chapter 5.6</a></li>
                                <li><a tabindex="-1" href="#/chapter5s7" ng-click="go('chapter5')">Chapter 5.7</a></li>
                            </ul>
                        </li>
                        <!-- chapter8s1 -->
                        <li><a href="#/chapter8s1" ng-click="go('chapter8')">Chapter 8</a></li>
                        <li><a href="#/Chapter9" ng-click="go('chapter9')">Chapter 9</a></li>
                        <li><a href="#/Chapter10" ng-click="go('chapter10')">Chapter 10</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle btnSidebar" type="button" data-toggle="dropdown">Course Materials
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">PDF</li>
                        <li ng-click='go("notes", 9)' ng-show="chapter9"><a>Chapter 9</a></li>
                        <li ng-click='go("notes10", 10)' ng-show="chapter10"><a>Chapter 10</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle btnSidebar" type="button" data-toggle="dropdown">Videos
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Lecture Videos</li>
                        <li ng-click="go('lectureVideo', 9.1)" id="lecturevid" ng-if="tutorial" ng-show="chapter9"><a>9.1: Operators</a></li>
                        <li ng-click="go('lectureVideo', 9.2)" id="lecturevid" ng-if="tutorial" ng-show="chapter9"><a>9.2: Logical Arrays</a></li>
                        <li ng-click="go('lectureVideo', 9.3)" id="lecturevid" ng-if="tutorial" ng-show="chapter9"><a>9.3: IF-ELSE Constructions</a></li>
                        <li ng-click="go('lectureVideo', 10.1)" id="lecturevid" ng-if="tutorial" ng-show="chapter10"><a>10.1: For Loops</a></li>
                        <li ng-click="go('lectureVideo', 10.2)" id="lecturevid" ng-if="tutorial" ng-show="chapter10"><a>10.2: While Loops</a></li>
                        <li ng-click="go('lectureVideo', 10.3)" id="lecturevid" ng-if="tutorial" ng-show="chapter10"><a>10.3: Efficiency</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Example Videos</li>
                        <li ng-click="go('exampleVideo', 9.1)" id="exvid" ng-if="tutorial" ng-show="chapter9"><a>Exercise 9.1</a></li>
                        <li ng-click="go('exampleVideo', 9.2)" id="exvid" ng-if="tutorial" ng-show="chapter9"><a>Exercise 9.2</a></li>
                        <li ng-click="go('exampleVideo', 9.3)" id="exvid" ng-if="tutorial" ng-show="chapter9"><a>Exercise 9.3</a></li>
                        <li ng-click="go('exampleVideo', 10.1)" id="exvid" ng-if="tutorial" ng-show="chapter10"><a>Exercise 10.1</a></li>
                        <li ng-click="go('exampleVideo', 10.2)" id="exvid" ng-if="tutorial" ng-show="chapter10"><a>Exercise 10.2</a></li>
                        <li ng-click="go('exampleVideo', 10.3)" id="exvid" ng-if="tutorial" ng-show="chapter10"><a>Exercise 10.3</a></li>
                        <li ng-click="go('exampleVideo', 10.4)" id="exvid" ng-if="tutorial" ng-show="chapter10"><a>Exercise 10.4</a></li>
                        <li ng-click="go('exampleVideo', 10.5)" id="exvid" ng-if="tutorial" ng-show="chapter10"><a>Exercise 10.9</a></li>
                        <li ng-click="go('exampleVideo', 10.6)" id="exvid" ng-if="tutorial" ng-show="chapter10"><a>Exercise 10.10</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle btnSidebar" type="button" data-toggle="dropdown">Tutorials
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Sections</li>
                        <li ng-click="go('tutorial', 10.2)" id="tutorial" ng-if="tutorial" ng-show="chapter10"><a>10.2: While Loops</a></li>
                        <li ng-click="go('tutorial', 10.4)" id="tutorial" ng-if="tutorial" ng-show="chapter10"><a>10.4: While Loops</a></li>
                        <li ng-click="go('tutorial', 10.5)" id="tutorial" ng-if="tutorial" ng-show="chapter10"><a>10.5: Nested For Loops</a></li>
                        <li ng-click="go('tutorial', 10.6)" id="tutorial" ng-if="tutorial" ng-show="chapter10"><a>10.6: For Loops</a></li>
                        <li ng-click="go('tutorial', 10.7)" id="tutorial" ng-if="tutorial" ng-show="chapter10"><a>10.7: Decisions and For Loops</a></li>
                        <li ng-click="go('tutorial', 10.8)" id="tutorial" ng-if="tutorial" ng-show="chapter10"><a>10.8: While Loops</a></li>
                        <li ng-click="go('tutorial', 'conditional')" id="tutorial" ng-if="tutorial" ng-show="chapter9"><a>9.1: Conditional</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Walkthroughs</li>
                        <li ng-click="go('sudoCode')" ng-show="chapter10"><a>Loops</a></li>
                        <li ng-click="go('conCode')" ng-show="chapter9"><a>Conditionals</a></li>
                        <li ng-click="go('animation')" ng-show="chapter10"><a>Loop Animation</a></li>
                        <li ng-click="go('ifAnimation')" ng-show="chapter9"><a>Conditional Animation</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle btnSidebar" type="button" data-toggle="dropdown">Quiz
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#/Chapter9quiz" ng-click="">Chapter 9</a></li>
                    </ul>
                    <li><a class="btn btn-default btnSidebar" href="#/grades">Grades</a></li>
                </div>
            </ul>
        </div>
        <div class="container-fluid">
            <ng-view class="col-xs-8 col-md-8 input-list styleText"></ng-view>
        </div>
    </div>
</body>
<script>
$(document).ready(function() {
    $('.dropdown-submenu a.test').on("click", function(e) {
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
    });

    var menu = $('nav');
    var origOffsetY = menu.offset().top;

    function scroll() {
        if ($(window).scrollTop() >= origOffsetY) {
            $('nav').addClass('navbar-fixed-top');
            $('.content').addClass('menu-padding');
        } else {
            $('nav').removeClass('navbar-fixed-top');
            $('.content').removeClass('menu-padding');
        }


    }

    document.onscroll = scroll;

});
</script>
<script src="../config.js"></script>
<script src="../../controllers/controllers.js"></script>
<script src="../../controllers/C5S1.js"></script>
<script src="../../controllers/C8S1.js"></script>
<script src="../../controllers/C9S1.js"></script>
<script src="../../controllers/quiz/C9S1.js"></script>
<script src="../../controllers/C10S1.js"></script>
<script src="../../controllers/C5S3.js"></script>
<script src="../../controllers/C5S4.js"></script>
<script src="../../controllers/C5S5.js"></script>
<script src="../../controllers/C5S6.js"></script>
<script src="../../controllers/C3S1.js"></script>
<script src="../../controllers/GradesCtrl.js"></script>
<script src="../../controllers/CurrentUser.js"></script>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>


</html>
